body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tabsContainer {
  .ant-tabs-tab-active {
    background: #fff266;
    color: #31365c;

    &:hover {
      color: darken(#31365c, 5%);
    }
  }

  .ant-tabs-ink-bar {
    background: #fff266;
  }
}