.h-100 {
    height: 100%;
    background-color: red;
}

//*** flex
.flex-r {
    display: flex;
    flex-direction: row;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

//*** box shadow (https://getcssscan.com/css-box-shadow-examples)
.bx_1 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.bx_10 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}